.visibleTile {
    -fx-border-color: white;
    -fx-border-radius: 3px;
    -fx-border-width: 3px;
}

.visibleTile:hover {
    -fx-background-color: rgba(35, 35, 35, 0.2);
}

.back {
    -fx-background-image: url("../media/background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: auto 100%;
}

Button {
    -fx-background-color: rgb(33, 150, 243);
    -fx-font-size: 16px;
}

Button:hover {
    -fx-background-color: rgb(55, 175, 255);
    -fx-cursor: hand;
}